@model RGastos.ViewModels.RendicionIndexData

@{
    ViewBag.Title = "Expenses Report Portal - Metso Minerals";
}

@section featured {

    <!-- JUMBOTRON / FEATURED -->
    <div class="jumbotron grua-background hero-jumbotron">
        <div class="container">
            <div class="col-md-5">
                <h1>Expenses Report</h1>
                <h2>Portal</h2>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <h2>Pending Reports</h2>
        <table class="table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Date Added</th>
                    <th>User</th>
                    <th>Ammount</th>
                    <th>Approver</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.RendicionesPendientes)
                {
                    <tr>
                        <td>@item.Fecha.ToShortDateString()</td>
                        <td>@item.UserProfile.UserName</td>
                        <td>@item.Gasto</td>
                        <td>@item.Aprobador.ApproverName</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

@if (Model.RendicionesAprobadas.Count() > 0)
{        
    <div class="row">


        <div class="col-md-6">
            <h2>Approved Reports</h2>
            <table class="table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>Date Added</th>
                        <th>User</th>
                        <th>Ammount</th>
                        <th>Approver</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.RendicionesAprobadas)
                    {
                        <tr>
                            <td>@item.Fecha.ToShortDateString()</td>
                            <td>@item.UserProfile.UserName</td>
                            <td>@item.Gasto</td>
                            <td>@item.Aprobador.ApproverName</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>

    </div>
}

@if (Model.RendicionesRechazadas.Count() > 0)
{
    <div class="row">
        <div class="col-md-6">
            <h2>Rejected Reports</h2>
            <table class="table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>Date Added</th>
                        <th>User</th>
                        <th>Ammount</th>
                        <th>Approver</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.RendicionesRechazadas)
                    {
                        <tr>
                            <td>@item.Fecha.ToShortDateString()</td>
                            <td>@item.UserProfile.UserName</td>
                            <td>@item.Gasto</td>
                            <td>@item.Aprobador.ApproverName</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
}



