@model RGastos.Models.Rendicion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rendicion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gasto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gasto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisitaID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisitaID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RendicionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
